---
layout: null
sitemap: false
---

$baseurl: "{{ site.baseurl }}";
$body-background-color: #2B2E31;

$content-max-width: 1000px;
$content-color: #222;
$content-background-color: #fff;

$brand-colour: #05264c;
$brand-colour-light: mix($brand-colour, $content-background-color, 10%);

$nav-header-background-color: $brand-colour;
$nav-header-height: 60px;
$nav-background-color: #05264c;
$nav-width: 280px;

$space: 20px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

/* font-family Setting 
*/
$font-fam: "-apple-system","BlinkMacSystemFont","Inter","Apple SD Gothic Neo","Spoqa Han Sans","Segoe UI","system-ui",Sans-Serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$nav-font-fam: "-apple-system","BlinkMacSystemFont","Inter","Apple SD Gothic Neo","Spoqa Han Sans","Segoe UI","system-ui",Sans-Serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$coding-font-fam: 'D2 coding', "Consolas", monospace;
$coding-font-fam-2: "SF Mono", "Consolas", "Liberation Mono", "Menlo", monospace;

@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";
@import "youtube";
@import url('https://rsms.me/inter/inter.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');